@use 'base/variables' as v;
@use 'base/mixins' as m;

// Define el estilo para la barra
.barra {
    // Establece el color de fondo de la barra a verde
    background-color: v.$verde;

    // Define el estilo para el contenido de la barra
    &__contenido {
        // Incluye el mixin contenedor
        @include m.contenedor;
        // Establece el diseño a flex y la dirección a columna
        display: flex;
        flex-direction: column;

        // Para dispositivos de escritorio
        @include m.desktop {
            // Cambia la dirección a fila
            flex-direction: row;
            // Alinea los elementos al centro
            align-items: center;
            // Distribuye el espacio de manera uniforme entre los elementos
            justify-content: space-between;
        }
    }

    // Define el estilo para el logo de la barra
    &__logo {
        // Incluye los mixins logo y texto-fluido
        @include m.logo;
        @include m.texto-fluido(2rem, 3rem);
    }
}