@use 'base/mixins' as m;
@use 'base/variables' as v;

.requisitos {
    padding: 4rem 0;
    background: linear-gradient(135deg, v.$blanco-ahumado 25%, v.$gris-claro 100%);

    &__heading {
        font-family: v.$fuente-principal;
        font-size: 3rem;
        text-align: center;
        color: v.$negro;
        margin-bottom: 3rem;
        text-shadow: 0.1rem 0.1rem 0.3rem rgba(v.$negro, 0.3);

        @include m.tablet {
            font-size: 3.5rem;
        }

        @include m.desktop {
            font-size: 4rem;
        }
    }

    &__contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 0 2rem;

        @include m.telefono {
            padding: 0 1rem;
        }
    }

    .requisito {
        background: rgba(v.$blanco, 0.8);
        border-radius: 1.5rem;
        box-shadow: 0 0.5rem 1.5rem rgba(v.$gris-oscuro, 0.1), 0 0.5rem 1rem rgba(v.$verde, 0.2);
        padding: 2rem;
        text-align: center;
        width: 22rem;
        margin: 0.5rem;
        backdrop-filter: blur(0.5rem);
        transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;

        @include m.telefono {
            width: 100%;
        }

        @include m.tablet {
            width: 20rem;
        }

        @include m.desktop {
            width: 22rem;
        }

        &:hover {
            transform: translateY(-0.5rem) scale(1.05);
            box-shadow: 0 1rem 2rem rgba(v.$gris-oscuro, 0.2), 0 1rem 2rem rgba(v.$verde, 0.3);
            background: rgba(v.$blanco, 0.9);
        }

        &__icono {
            font-size: 4rem;
            color: v.$verde;
            margin-bottom: 1rem;
            animation: glow 1.5s infinite alternate;

            @include m.telefono {
                font-size: 3rem;
            }

            @include m.tablet {
                font-size: 4rem;
            }

            @include m.desktop {
                font-size: 5rem;
            }
        }

        &__texto {
            font-size: 1.4rem;
            color: v.$gris-oscuro;
            text-shadow: 0.1rem 0.1rem 0.2rem rgba(v.$gris-oscuro, 0.2);

            @include m.telefono {
                font-size: 1.2rem;
            }

            @include m.tablet {
                font-size: 1.4rem;
            }

            @include m.desktop {
                font-size: 1.6rem;
            }
        }
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 0.5rem rgba(v.$verde, 0.5), 0 0 1rem rgba(v.$verde, 0.3);
    }
    to {
        text-shadow: 0 0 1rem rgba(v.$verde, 0.7), 0 0 1.5rem rgba(v.$verde, 0.5);
    }
}
