// Importa las variables y mixins
@use 'variables' as v;
@use 'mixins' as m;

// Establece las propiedades globales para el elemento html
html {
    font-size: 62.5%; // Establece el tamaño de fuente base para REMs
    box-sizing: border-box; // Establece el modelo de caja para todos los elementos
    height: 100%; // Establece la altura al 100%
}

// Establece las propiedades globales para todos los elementos y pseudo-elementos
*, *:before, *:after {
    box-sizing: inherit; // Hereda el modelo de caja del elemento padre
}

// Establece las propiedades globales para el elemento body
body {
    font-family: v.$fuente_principal; // Establece la fuente principal
    font-size: 1.8rem; // Establece el tamaño de fuente
}

// Establece las propiedades globales para los enlaces
a {
    text-decoration: none; // Elimina la decoración de texto
}

// Establece las propiedades globales para las imágenes
img {
    width: 100%; // Establece el ancho al 100%
    height: auto; // Establece la altura automáticamente
}

// Establece las propiedades para los popups de SweetAlert2
.swal2-popup {
    font-size: 2rem!important; // Establece el tamaño de fuente y sobrescribe cualquier otro estilo
}