@use 'variables' as v;

// Mixin para Media Queries de teléfono
@mixin telefono {
    @media (min-width: v.$telefono) { // Aplica los estilos si el ancho de la ventana es mayor o igual al tamaño de un teléfono
        @content; // Inserta el contenido del mixin
    }
}

// Mixin para Media Queries de tablet
@mixin tablet {
    @media (min-width: v.$tablet) { // Aplica los estilos si el ancho de la ventana es mayor o igual al tamaño de una tablet
        @content; // Inserta el contenido del mixin
    }
}

// Mixin para Media Queries de desktop
@mixin desktop {
    @media (min-width: v.$desktop) { // Aplica los estilos si el ancho de la ventana es mayor o igual al tamaño de un desktop
        @content; // Inserta el contenido del mixin
    }
}

// Mixin para Media Queries de xl_desktop
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) { // Aplica los estilos si el ancho de la ventana es mayor o igual al tamaño de un xl_desktop
        @content; // Inserta el contenido del mixin
    }
}

// Mixin para botones
@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor; // Establece el color de fondo del botón
    padding: 1.5rem 4rem; // Establece el padding del botón
    color: $colorTexto; // Establece el color del texto del botón
    font-size: 1.8rem; // Establece el tamaño de la fuente del botón
    font-weight: 700; // Establece el peso de la fuente del botón
    border: none; // Elimina el borde del botón
    transition-property: background-color; // Establece la propiedad de transición a background-color
    transition-duration: .3s; // Establece la duración de la transición
    text-align: center; // Centra el texto del botón
    width: 100%; // Establece el ancho del botón al 100%
    display: inline-block; // Establece el display del botón a inline-block

    &:hover { // Establece los estilos para el estado hover del botón
        background-color: darken( $bgColor, 10% ); // Oscurece el color de fondo del botón
        cursor: pointer; // Cambia el cursor a pointer
    }
}

// Mixin para crear una cuadrícula
@mixin grid($columnas, $espaciado ) {
    display: grid; // Establece el display a grid
    gap: $espaciado; // Establece el espacio entre los elementos de la cuadrícula
    grid-template-columns: repeat($columnas, 1fr); // Crea tantas columnas como se especifique, cada una ocupando una fracción igual del espacio disponible
}

// Mixin para crear un contenedor de tamaño grande
@mixin contenedor {
    width: min(95%, 140rem); // Establece el ancho al mínimo entre 95% y 140rem
    margin: 0 auto; // Centra el contenedor horizontalmente
}

// Mixin para crear un contenedor de tamaño medio
@mixin contenedor-md {
    width: min(95%, 80rem); // Establece el ancho al mínimo entre 95% y 80rem
    margin: 0 auto; // Centra el contenedor horizontalmente
}

// Mixin para crear un contenedor de tamaño pequeño
@mixin contenedor-sm {
    width: min(95%, 60rem); // Establece el ancho al mínimo entre 95% y 60rem
    margin: 0 auto; // Centra el contenedor horizontalmente
}

// Mixin para estilizar encabezados
@mixin heading {
    font-family: v.$fuente_principal; // Establece la fuente principal
    font-weight: v.$black; // Establece el peso de la fuente a black
    margin: 2rem 0; // Establece el margen superior e inferior a 2rem
}

// Mixin para estilizar el nombre de la página
@mixin nombre-pagina {
    @include heading; // Incluye los estilos del mixin heading
    margin: 6rem 0 3rem 0; // Establece el margen superior a 6rem, el inferior a 3rem
    text-align: center; // Centra el texto horizontalmente
}

// Mixin para estilizar la descripción de la página
@mixin descripcion-pagina {
    text-align: center; // Centra el texto horizontalmente
    font-size: 1.8rem; // Establece el tamaño de la fuente
    font-weight: v.$delgada; // Establece el peso de la fuente a delgada
    color: v.$gris-oscuro; // Establece el color del texto a gris oscuro
    margin-bottom: 5rem; // Establece el margen inferior a 5rem
}

// Mixin para crear texto fluido
@mixin texto-fluido($min, $max) {
    font-size: clamp($min, -0.8rem + 10vw ,$max); // Establece el tamaño de la fuente a un valor entre $min y $max, ajustándose en función del ancho de la ventana
}

// Mixin para crear texto con degradado
@mixin texto-degradado($inicio , $final) {
    background-image: linear-gradient(to right, $inicio, $final); // Crea un degradado lineal de izquierda a derecha desde $inicio hasta $final
    background-clip: text; // Aplica el degradado al texto
    -webkit-text-fill-color: transparent; // Hace que el color del texto sea transparente en navegadores WebKit
    color: transparent; // Hace que el color del texto sea transparente
}

// Mixin para estilizar el logo
@mixin logo {
    color: v.$blanco; // Establece el color del texto a blanco
    text-align: center; // Centra el texto horizontalmente
    margin-bottom: 2rem; // Establece el margen inferior a 2rem
    white-space: nowrap; // Evita que el texto se ajuste a la línea siguiente
    @include desktop {
        text-align: left; // Alinea el texto a la izquierda en pantallas de escritorio
        margin: 0; // Elimina el margen en pantallas de escritorio
    }
}

// Mixin para estilizar el menú social
@mixin menu-social($color, $size) {

    // Estilos para los enlaces del menú social
    &__enlace {

        // Estilos para el pseudo-elemento before de los enlaces
        &::before {
            color: $color; // Establece el color del icono
            font-size: $size; // Establece el tamaño del icono
            display: inline-block; // Establece el display a inline-block
            font-style: normal; // Establece el estilo de la fuente a normal
            text-rendering: auto; // Establece el renderizado del texto a auto
            -webkit-font-smoothing: antialiased; // Suaviza la fuente en navegadores WebKit
            font-family: "Font Awesome 6 Brands"; // Establece la familia de la fuente a Font Awesome 6 Brands
        }

        // Estilos específicos para cada red social
        &[href*="facebook.com"]::before {
            content: "\f39e"; // Establece el icono de Facebook
        }
        &[href*="github.com"]::before {
            content: "\f09b"; // Establece el icono de GitHub
        }
        &[href*="tiktok.com"]::before {
            content: "\e07b"; // Establece el icono de TikTok
        }
        &[href*="instagram.com"]::before {
            content: "\f16d"; // Establece el icono de Instagram
        }
        &[href*="youtube.com"]::before {
            content: "\f167"; // Establece el icono de YouTube
        }
        &[href*="twitter.com"]::before {
            content: "\f099"; // Establece el icono de Twitter
        }
    }

    // Estilos para ocultar elementos del menú social
    &__ocultar {
        display: none; // Oculta el elemento
    }
}

// Mixin para estilizar enlaces
@mixin enlace {
    all: unset; // Resetea todas las propiedades del enlace
    color: v.$blanco; // Establece el color del texto a blanco
    font-size: 1.4rem; // Establece el tamaño de la fuente
    text-transform: uppercase; // Transforma el texto a mayúsculas
    font-weight: v.$bold; // Establece el peso de la fuente a bold

    // Estilos para el estado hover del enlace
    &:hover {
        color: v.$gris-claro; // Cambia el color del texto a gris claro
        cursor: pointer; // Cambia el cursor a pointer
    }
}

// Mixin para aplicar sombra a un elemento
@mixin shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; // Aplica una sombra al elemento
}

// Mixin para resetear las propiedades de una lista
@mixin reset-lista {
    margin: 0; // Resetea el margen
    padding: 0; // Resetea el padding
    list-style: none; // Elimina el estilo de lista
}

// Mixin para estilizar tags
@mixin tags {
    @include reset-lista; // Resetea las propiedades de la lista
    display: flex; // Establece el display a flex
    flex-wrap: wrap; // Permite que los elementos de la lista se ajusten a la línea siguiente
    gap: 1.5rem; // Establece el espacio entre los elementos de la lista
    margin-top: 1.5rem; // Establece el margen superior

    // Estilos para los elementos de la lista
    > li {
        background-color: lighten(v.$verde-oscuro, 8%);; // Establece el color de fondo a azul
        padding: 1rem; // Establece el padding
        border-radius: .5rem; // Establece el radio del borde
        font-size: 1.4rem; // Establece el tamaño de la fuente
        color: v.$blanco; // Establece el color del texto a blanco
        font-weight: v.$bold; // Establece el peso de la fuente a bold
    }
}

// Mixin para estilizar una tarjeta
@mixin card {
    border: 1px solid lighten(v.$gris, 10); // Establece el borde y lo aclara un 10%
    padding: 3rem; // Establece el padding

    // Estilos para el nombre de la tarjeta
    &__nombre {
        font-weight: v.$black; // Establece el peso de la fuente a black
        font-size: 2.6rem; // Establece el tamaño de la fuente
        margin: 2rem 0; // Establece el margen superior e inferior
    }
}

// Mixin para crear un fondo con degradado
@mixin bg-gradient($bg_color) {
    // Establece una imagen de fondo con un degradado lineal
    // El degradado va de izquierda a derecha y de arriba a abajo
    // Comienza con el color proporcionado ($bg_color) y termina con una versión más clara de ese color (se aclara un 15%)
    background-image: linear-gradient(to left top, $bg_color, lighten($bg_color, 15%) );
}

@mixin shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

// Mixin para el carrusel de tarjetas con parámetros personalizables
@mixin carrusel-de-tarjetas($primary-color: v.$azul, $secondary-color: v.$gris-oscuro, $hover-color: v.$rojo) {
    .carrusel {
        // Contenedor principal del carrusel
        &__contenedor {
            width: 90%;
            max-width: 120rem; // 1200px
            padding: 2rem 0;
            position: relative;
        }

        // Slide del carrusel
        &__slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        // Tarjeta del carrusel
        &__tarjeta {
            width: 26rem; // 260px
            background: rgba($primary-color, 0.1);
            backdrop-filter: blur(1rem); // 10px
            border-radius: 1.5rem; // 15px
            overflow: hidden;
            box-shadow: 0 0.4rem 0.8rem rgba($secondary-color, 0.1), 0 1.2rem 2.4rem rgba($secondary-color, 0.2);
            transition: transform 0.3s, box-shadow 0.3s;
            margin: 0 0.2rem; // Ajusta el margen para que las tarjetas estén mucho más juntas

            // Estilo para el estado hover de la tarjeta
            &:hover {
                transform: translateY(-1rem); // 10px
                box-shadow: 0 0.8rem 1.6rem rgba($secondary-color, 0.2), 0 2.4rem 4.8rem rgba($secondary-color, 0.3);
            }

            // Imagen de la tarjeta
            &__imagen {
                width: 100%;
                height: 15rem; // 150px
                object-fit: cover;
            }

            // Contenido de la tarjeta
            &__contenido {
                padding: 1.5rem; // 15px
            }

            // Título de la tarjeta
            &__titulo {
                font-family: 'Montserrat', sans-serif;
                font-size: 2rem; // 20px
                color: $primary-color;
                margin: 0;
            }

            // Descripción de la tarjeta
            &__descripcion {
                font-size: 1.4rem; // 14px
                color: $secondary-color;
                margin: 1rem 0; // 10px
            }

            // Pie de la tarjeta
            &__pie {
                display: flex;
                align-items: center;
            }

            // Avatar en el pie de la tarjeta
            &__avatar {
                width: 4rem; // 40px
                height: 4rem; // 40px
                border-radius: 50%;
                margin-right: 1rem; // 10px
            }

            // Nombre en el pie de la tarjeta
            &__nombre {
                font-size: 1.4rem; // 14px
                color: $secondary-color;
                flex-grow: 1; // Hace que el nombre ocupe el espacio restante
            }

            // Botón en el pie de la tarjeta
            &__boton {
                background-color: $primary-color;
                color: white;
                border: none;
                border-radius: 50%;
                width: 4rem; // 40px
                height: 4rem; // 40px
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: background-color 0.3s;

                // Estilo para el estado hover del botón
                &:hover {
                    background-color: $hover-color;
                }

                // Ícono dentro del botón
                & i {
                    font-size: 2.4rem; // 24px
                }
            }
        }

        // Flechas de navegación del carrusel
        &__flecha {
            color: $secondary-color;
            position: absolute; // Posiciona las flechas de manera absoluta
            top: 50%; // Centra verticalmente las flechas
            transform: translateY(-50%); // Ajusta para que estén perfectamente centradas
            z-index: 10; // Asegura que las flechas estén por encima del contenido

            // Flecha siguiente
            &--siguiente {
                right: -2.5rem; // 25px
            }

            // Flecha anterior
            &--anterior {
                left: -2.5rem; // 25px
            }
        }

        // Paginación activa del carrusel
        &__paginacion {
            &-bullet-activo {
                background: $primary-color;
            }
        }
    }
}

