// Fuentes
$fuente-principal: 'Outfit', sans-serif; // Define la fuente principal

// Tamaño de Media Queries
$telefono: 480px; // Define el tamaño de pantalla para teléfonos
$tablet: 768px; // Define el tamaño de pantalla para tablets
$desktop: 1024px; // Define el tamaño de pantalla para desktops
$xl_desktop: 1200px; // Define el tamaño de pantalla para desktops extra grandes

// Colores
$azul: #007df4; // Define el color azul
$secundario: #00c8c2; // Define el color secundario

$verde: #5ec85e; // Define el color verde
$verde-oscuro: #28952f; // Define el color verde oscuro
$blanco: #FFFFFF; // Define el color blanco
$gris: #64748B; // Define el color gris
$gris-claro: #F8FAFC; // Define el color gris claro
$gris-oscuro: #A9A9A9; // Define el color gris oscuro
$gris-oscuro-2: #4A4A4A; // Define otro tono de gris oscuro

$rojo: rgb(169, 0, 0); // Define el color rojo
$verde-claro: #02db02; // Define el color verde claro

// Fuentes
$delgada: 300; // Define el peso de la fuente delgada
$regular: 400; // Define el peso de la fuente regular
$bold: 700; // Define el peso de la fuente bold
$black: 900; // Define el peso de la fuente black