@use 'base/mixins' as m;
@use 'base/variables' as v;

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: v.$fuente-principal;
    margin-bottom: 2rem;
    overflow-x: auto; // Permite scroll horizontal en pantallas pequeñas

    &__thead {
        background-color: v.$verde;
        color: v.$blanco-ahumado;
    }

    &__th, &__td {
        padding: 1rem;
        text-align: left;
        font-size: 1.6rem;
        vertical-align: middle;
    }

    &__th {
        @include m.telefono {
            font-size: 1.4rem;
        }

        @include m.tablet {
            font-size: 1.8rem;
        }

        @include m.desktop {
            font-size: 2rem;
        }

        @include m.xl_desktop {
            font-size: 1.8rem;
        }
    }

    &__tr {
        &:nth-of-type(even) {
            background-color: v.$gris-claro;
        }
        &:nth-of-type(odd) {
            background-color: v.$blanco-ahumado;
        }
        height: 4rem;
    }

    &__td {
        padding: 1.5rem 1rem;
        font-size: 1.4rem;
        vertical-align: middle;
        text-align: left;

        @include m.telefono {
            font-size: 1.2rem;
            padding: 1rem 0.8rem;
        }

        @include m.tablet {
            font-size: 1.6rem;
            padding: 1.2rem 1rem;
        }

        @include m.desktop {
            font-size: 1.8rem;
            padding: 1.5rem 1.2rem;
        }

        @include m.xl_desktop {
            font-size: 1.5rem;
            padding: 2rem 1.5rem;
        }

        &--acciones {
            text-align: right; // Alinea los botones a la derecha
            display: flex;
            flex-direction: column; // Distribuye los botones en columna
            align-items: flex-start; // Alinea los botones al inicio
            gap: 0.5rem; // Espacio entre los botones
        }

        &--descripcion {
            max-width: 23rem;
            position: relative;

            .table__descripcion {
                max-height: 18rem;
                overflow-y: auto;
                white-space: normal;
                padding-right: 0.5rem;
                background-color: transparent;
                padding: 0;
                font-family: v.$fuente-principal;
                font-size: 1rem;
                color: v.$gris-oscuro-2;
                text-align: left;
                line-height: 1.6;
                margin-bottom: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;

                @include m.telefono {
                    font-size: 1.2rem;
                }

                @include m.tablet {
                    font-size: 1.6rem;
                }

                @include m.desktop {
                    font-size: 1.8rem;
                }

                @include m.xl_desktop {
                    font-size: 2rem;
                }
            }

            .table__descripcion::-webkit-scrollbar {
                width: .5rem; // Tamaño del scrollbar
            }

            .table__descripcion::-webkit-scrollbar-thumb {
                background-color: transparent; // Color del scrollbar
                border-radius: .2rem;
            }

            .table__descripcion::-webkit-scrollbar-thumb:hover {
                background-color: lighten(v.$gris, 40%); // Cambiamos el color del scrollbar al pasar el mouse sobre él
            }

            .table__descripcion::-webkit-scrollbar-track {
                background-color: transparent; // Fondo del scrollbar transparente
            }
        }
    }

    &__accion {
        all: unset;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: v.$bold;
        display: inline-flex; // Cambia de flex a inline-flex
        align-items: center;
        margin-left: 0.5rem; // Asegura un pequeño espacio entre los botones

        &--aceptar {
            color: v.$verde;
        }

        &--rechazar {
            color: v.$rojo;
        }

        &--cv {
            color: v.$negro;
        }

        &--editar {
            color: v.$azul;
        }

        &--eliminar {
            color: v.$rojo;
        }

        &:hover {
            cursor: pointer;
        }

        @include m.telefono {
            font-size: 1rem;
        }

        @include m.tablet {
            font-size: 1.4rem;
        }

        @include m.desktop {
            font-size: 1.6rem;
        }

        @include m.xl_desktop {
            font-size: 1.7rem;
        }
    }

    .imagen-tabla {
        width: 10rem; /* Ajusta el ancho según sea necesario */
        
        height: auto; /* Mantiene la proporción de la imagen */
        
    }

    .encargado {
        display: flex;
        flex-direction: column; // Cambia la dirección del flex a columna
        align-items: center; // Centra los elementos horizontalmente

        &__imagen {
            width: 10rem; // Ajusta el ancho según sea necesario
            height: auto; // Mantiene la proporción de la imagen
            margin-bottom: 1rem; // Espacio entre la imagen y el texto
        }

        &__info {
            text-align: center; // Centra el texto
        }

        &__nombre {
            font-size: 1.4rem;
            font-weight: v.$bold;
        }

        &__puesto {
            font-size: 1.2rem;
            color: v.$gris-oscuro;
        }
    }
    
}

@media (max-width: v.$telefono) {
    .table {
        display: block;
        width: 100%;

        &__thead {
            display: none;
        }

        &__tr {
            display: block;
            margin-bottom: 1rem;
            border: none;
        }

        &__td {
            display: flex;
            flex-direction: column; // Cambia la dirección del flex a columna
            align-items: flex-start; // Alinea los elementos al inicio
            padding: 1rem;
            text-align: left;
            border-bottom: 1px solid lighten(v.$gris, 40%);

            &:last-child {
                border-bottom: none;
            }

            &:before {
                content: attr(data-label);
                font-weight: v.$bold;
                margin-bottom: 0.5rem; // Espacio entre el label y el contenido
            }
        }

        &__td--acciones {
            flex-direction: row; // Asegura que los botones de acción estén en una fila
            justify-content: flex-end; // Alinea los botones a la derecha
            width: 100%; // Asegura que los botones ocupen todo el ancho disponible
        }
    }

    .encargado {
        &__imagen {
            width: 8rem; // Ajusta el ancho según sea necesario para pantallas pequeñas
        }

        &__nombre, &__puesto {
            font-size: 1.2rem; // Ajusta el tamaño de la fuente para pantallas pequeñas
        }
    }
}
